<body style="background-color:#989F7Af;" >
  <div class="col">
    <a href="/home"> Back to homepage</a>
  </div>
<h1>
  About 
</h1>
<ul>
  <li>CPA02 Project by Sanjna Bandaru and built off of PA03 Skeleton by Tim Hickey & Jiaxin Li</li>
  <li>About: This is a preliminary recipe app that lets you add recipes you're interested in trying. 
    You can also categorize your favorite recipes to try or that you've made in one section.</li>
  <li>Future development: Ideally it should allow you click on the recipes you search such that 
  you can see the steps and ingredients needed to make the dish. Additionally, 
categorizing these recipes by dietary restriction is also something I would like to add.  </li>
</ul>
</body>
