<body style="background-color:#989F7A;" >
    <h1>
        My favorites:
    </h1>
        <% if(favorites.length > 0) {%>
        <ul>
            <%for(favorite of favorites){%>
                <li>
                <%=favorite.Title%> 
                </li>
            <%}%>
        </ul>
        <%} else{%>
            <p> No favorites yet</p>
        <%}%>
        <div class="col">
            <a href="/home"> Back to homepage</a>
        </div>
</body>
