<h1>
    Feedback form 
</h1>
<body style="background-color:#f5decf;" >
    <div class="col">
        <a href="/home"> Back to homepage</a>
    </div>
<div class="center-forms">


<form method="post" action="/leave_feedback">
    Leave your feedback here: 
    <textarea id="feedback_form" rows="4" cols="50"></textarea>
    <input type="submit" value= "submit feedback" class="mt-5">
</form>
</div>


</body>

