<body style="background-color:#f5decf;" >

    <div>
        <h1>Recipe App </h1>
        <h3> Welcome <%=username%></h3>
    </div>
    <hr style="width: 80%; margin-left: 150px;">
    <div>
        <p>My Recipes:</p>
    </div>
    <div>
        <% if(items.length > 0) {%>
        <ul>
            <%for(item of items){%>
                <li>
                    <%=item.Title%>
                </li>
            <%}%>
        </ul>
        <%} else{%>
            <p> No recipes yet</p>
        <%}%>
    </div>
    <div id="indented">
        <a href="/new"> Add a recipe to my recipe book</a>
    </div>
    <div id="indented">
        <form method="post" action="/search">
         Search for a recipe by title: <input type="text" name="recipe_name" placeholder="e.g. Chicken Stew">
         <input type="submit" value= "search" class="mt-5">
        </form>
    </div>
    <div class="image">
        <img src="images/soup.jpg" width="55%">
    </div>
    
</body>