
<body style="background-color:#D5D7C9;" >
<h1>Welcome to the Recipe Book App!</h1>
    <div class="row">
      
        <div class="col-sm-5">
            <h2>Login</h2>
            <form method="post" action="/login">
                username: <input type="text"
                                 autocomplete="username"
                                 name="username"><br>
                passphrase: <input  type="password"
                                    autocomplete="passphrase"
                                    name="passphrase"><br>
                <input type="submit" value="login">
            </form>
        </div>
        <div class="col-sm-5">
            <h2>Signup</h2>
            <form method="post" action="/signup">
                username: <input type="text" autocomplete="username" name="username"><br>
                password
                   <input type="password" autocomplete="passphrase" name="passphrase"><br>
                confirm password:
                    <input type="password" name="passphrase2"><br>
                <input type="submit" value="signup">
            </form>
        </div>
    </div>

<div class="image-login">
    <img src="images/recipe.jpg" width="100%">
</div>
</body>

