<body style="background-color:#f5decf;" >
<form method="post" action="/addRecipe">
    <div class="col">
        <a href="/home"> Back to homepage</a>
    </div>
    <div class="row">
        <div class="col m-5">
            Enter the name of the recipe: <input type="text" name="recipe name"><br>
            Enter the cuisine: <input type="text" name="cuisine"><br>
            <div class="col p-5">
                <input type="submit" value= "Add recipe" class="mt-5">
            </div>
        </div>
    </div>
</form>
</body>