<body style="background-color:#D5D7C9;" >
    <%if(recipes.length > 0){%>
        <%for(recipe of recipes){%>
        <ul>
            <li>
                Title: <%=recipe.Title %> <br>
                Cuisine: <%=recipe.Cuisine %> <br>
            </li>
        </ul>
        <%}%>
    <%}else{%>
        No results found!
    <%}%>

    <div class="col">
        <a href="/home"> Back to homepage</a>
    </div>
</body>